<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>DexWallet DeFi Tracker - The Open Financial System of the future. Today.</title>
    <meta name="description"
    content="Saving, Investing, Exchange, Lending and Insurance services for individuals and commerce.">
    <meta name="keywords"
    content="Defi, Open Finance, Decentralized, Ethereum, Wallet, Pos, DAI, Crypto, Blockchain">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <meta property="og:image" content="/img/preview.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon32.png" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,700" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <script>
        $(function() {

            function validateInputAddresses(address) {
                    return (/^(0x){1}[0-9a-fA-F]{40}$/i.test(address));
            }

            $( "#start" ).click(function() {
                var address = $('#addressInp').val();
                if( validateInputAddresses(address) ) {
                    $( "#start" ).text('Loading...');
                    $(location).attr('href','/wallet/'+address)
                } else {
                    alert('Invalid address')
                }
            });
        });
    </script>
    
</head>

<body>
    
    <div class="introContainer">
        <span class="topLogo"><img src="img/wallet.svg" height="50px"></span>
        <span class="defitrackerLogo">DeFi Tracker</span>
        <input id="addressInp" type="text" placeholder="Your Eth address here..." />
        <button id="start">start</button>
        <span class="curious">Curious? Have a look at the demo below!</span>
    </div>
    
    <div class="cardsContainer">
        
        <div class="DeFiCard">
            <span class="row logoRow">
                <span class="left">
                    <img src="img/dydx.svg" height="26px">
                </span>
                <span class="right">
                    <a href="#">show more</a>
                </span>
            </span>
            <span class="row">
                <span class="left">Balance</span>
                <span class="right">11,436.20 DAI</span>
            </span>
            <span class="row">
                <span class="left">APR</span>
                <span class="right">15.4%</span>
            </span>
            <span class="row">
                <span class="left">Earned</span>
                <span class="right">
                    <span class="positive">
                        321.98 DAI
                    </span>
                </span>
            </span>
        </div>
        
        
        <div class="DeFiCard">
            <span class="row logoRow">
                <span class="left">
                    <img src="img/bzx.svg" height="26px">
                </span>
                <span class="right">
                    <a href="#">show more</a>
                </span>
            </span>
            <span class="row">
                <span class="left">Balance</span>
                <span class="right">11,436.20 DAI</span>
            </span>
            <span class="row">
                <span class="left">APR</span>
                <span class="right">15.4%</span>
            </span>
            <span class="row">
                <span class="left">Earned</span>
                <span class="right">
                    <span class="positive">
                        321.98 DAI
                    </span>
                </span>
            </span>
        </div>
        
        
        <div class="DeFiCard">
            <span class="row logoRow">
                <span class="left">
                    <img src="img/compound.svg" height="26px">
                </span>
                <span class="right">
                    <a href="#">show more</a>
                </span>
            </span>
            <span class="row">
                <span class="left">Balance</span>
                <span class="right">11,436.20 DAI</span>
            </span>
            <span class="row">
                <span class="left">APR</span>
                <span class="right">15.4%</span>
            </span>
            <span class="row">
                <span class="left">Earned</span>
                <span class="right">
                    <span class="positive">
                        321.98 DAI
                    </span>
                </span>
            </span>
        </div>
        
        
        <div class="DeFiCard">
            <span class="row logoRow">
                <span class="left">
                    <img src="img/maker.svg" height="26px">
                </span>
                <span class="right">
                    <a href="#">show more</a>
                </span>
            </span>
            <span class="row">
                <span class="left">Balance</span>
                <span class="right">11,436.20 DAI</span>
            </span>
            <span class="row">
                <span class="left">APR</span>
                <span class="right">15.4%</span>
            </span>
            <span class="row">
                <span class="left">Earned</span>
                <span class="right">
                    <span class="negative">
                        321.98 DAI
                    </span>
                </span>
            </span>
        </div>
        
        
        <div class="DeFiCard">
            <span class="row logoRow">
                <span class="left">
                    <img src="img/uniswap.svg" height="26px">
                </span>
                <span class="right">
                    <a href="#">show more</a>
                </span>
            </span>
            <span class="row">
                <span class="left">Balance</span>
                <span class="right">11,436.20 DAI</span>
            </span>
            <span class="row">
                <span class="left">APR</span>
                <span class="right">15.4%</span>
            </span>
            <span class="row">
                <span class="left">Earned</span>
                <span class="right">
                    <span class="positive">
                        321.98 DAI
                    </span>
                </span>
            </span>
        </div>
        
    </div>
    
    
    <section class="footerMenu">
        <a class="menuItem" target="_blank" href="https://www.dexwallet.io">Powered by&nbsp;<img src="/img/dexwallet.png" height="20px"></a>
    </section>
</body>